beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
Chameleon==3.9.0
chardet==4.0.0
hupper==1.10.2
idna==2.10
Paste==3.5.0
PasteDeploy==2.1.1
plaster==1.0
plaster-pastedeploy==0.7
pyramid==1.10.8
pyramid-chameleon==0.3
pytz==2021.1
requests==2.25.1
six==1.15.0
soupsieve==2.2.1
translationstring==1.4
urllib3==1.26.5
venusian==3.0.0
waitress==2.1.2
WebOb==1.8.7
WebTest==2.0.35
youtube-dl==2021.4.17
zope.deprecation==4.4.0
zope.interface==5.4.0
