hupper==1.10.2
Paste==3.5.0
PasteDeploy==2.1.1
plaster==1.0
plaster-pastedeploy==0.7
pyramid==1.10.8
six==1.15.0
translationstring==1.4
venusian==3.0.0
waitress==2.0.0
WebOb==1.8.7
youtube-dl==2021.4.17
zope.deprecation==4.4.0
zope.interface==5.4.0
