Chameleon==2.24
CherryPy==5.1.0
Mako==1.0.4
MarkupSafe==0.23
Paste==2.0.3
PasteDeploy==1.5.2
PasteScript==2.0.2
Pygments==2.1.3
WebOb==1.6.0
pyramid==1.7a1
pyramid-chameleon==0.3
pyramid-debugtoolbar==2.4.2
pyramid-mako==1.0.2
redis==2.10.5
repoze.lru==0.6
requests==2.9.1
six==1.10.0
translationstring==1.3
venusian==1.0
waitress==0.9.0
wsgiref==0.1.2
youtube-dl==2016.4.19
zc.buildout==2.5.0
zope.deprecation==4.1.2
zope.interface==4.1.3
